/* reset styles */

html {
    margin: 0;
    padding: 0;
    background-color: white;
    color: cornflowerblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* hamburger menu styles */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    /* border-bottom: 5px solid #E2E8F0;
    box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05); */
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 1.5rem;

}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 33px;
    height: 5px;
    margin: 7px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: right;
    align-items: right;
 }
 
 .nav-item {
    margin-left: 3rem;
} 

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
    
}

/* .nav-link:hover{
    color: black;
} */

.logo {
    font-size: 5rem;
    font-weight: 500;
    position: fixed;
    /* top:0; */
    /* left:0; */
    background-color: white;
    z-index: 20;
    /* box-shadow: 2px 2px grey; */
    padding-left: 15px;
    color:cornflowerblue;
}

.about-container {
    
    width: 400px;
    height:300px;
    border: 2px solid blue;
    justify-content: space-around;
    align-content: center;
    justify-self:space-around;
    align-self:space-around;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    
}

.photo {
    width: 150px;
    height:150px;
    border-radius: 50%;
    border: 2px solid black;
    justify-content: space-around;
    align-content: center;
    justify-self:space-around;
    align-self:space-around;
    margin-right: none;
    margin-left: auto;
    
}

.hello {
    width: 300px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    
}


@media only screen and (max-width: 768px) {
    
    .navbar {
        height: 4rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: right;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        padding-right: 50px;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: fixed;
        top:20px;
        right:20px;
        background-color: cornflowerblue;
        border-radius: 3px;
        border: 2px white solid;
        
    }

}