/* reset styles */

html {
    margin: 0;
    padding: 0;
    background-color: #E5EDFC;
    color: cornflowerblue;
}

body {
    height: 100%;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.indicator {
    height: 20px;
    width: 100%;
    border:3px solid cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    display: block;
}

.cinzel {
    font-family: "Cinzel";
   

}

/* hamburger menu styles */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.bar {
    display: block;
    width: 33px;
    height: 5px;
    margin: 7px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.navbar {
    height: 3rem;
}

.cross {
    display: none;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}   


.hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 6.25rem;
    bottom: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: right;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    padding-right: 50px;
    z-index:100;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2rem 0;
    z-index: 101;
}

.hamburger {
    display: block;
    cursor: pointer;
    position: fixed;
    top:20px;
    right:20px;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: 2px white solid;
    
}

.logo {
    font-size: 6rem;
    font-weight: 500;
    /* position: fixed; */
    /* top:0; */
    /* left:0; */
    z-index: 20;
    /* box-shadow: 2px 2px grey; */
    padding-left: 15px;
    color:cornflowerblue;
    margin: 0;

    
}



.intro-container, .projects-container, .about-container {
    padding-bottom: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    
}



 .photo {
    
    width: 300px;
    height: 250px;
    border: 2px solid cornflowerblue;
    margin-top: 30px;
    border-radius: 10px;
    display: block;
   
} 

main {
    position: relative;
    height: 100%;
}

.test {
    width: 300px;
    height: 250px;
    border: 2px solid cornflowerblue;
    margin-top: 30px;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
}

.t-l {
    order: 1;
}
.t-r {
    order:2
}
.b-l {
    order:3;
}
.b-r {
    order:4;
}


/* .photo {
    width: 150px;
    height:150px;
    border-radius: 50%;
    border: 2px solid black;
    justify-content: space-around;
    align-content: center;
    justify-self:space-around;
    align-self:space-around;
    margin-right: none;
    margin-left: auto;
    
} */

 .hello {
    position: relative;
    width: 45%; 
    text-align: left;
    max-width: 450px;    
    min-width: 325px;
    display: block;
} 

.r {
    text-align: right;
}

h1 {
    font-size: 3.5rem;
   
}
h2 {
    font-size: 2rem;
    text-decoration: underline dotted;
    text-decoration-thickness: auto;
}
h3 {
    font-size: 1rem;
    margin-top: 25px;
}
footer {
    background-color: cornflowerblue;
}

/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: white;
  border: none;
  border-radius: 0;
  display: block;
  width: 75%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: auto;
  margin-right: auto;
 
}
form label,
form legend {
  font-size: 0.825rem;
  margin-left: auto;
  margin-right: auto;
}

/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
 
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}

header {
    height:100vh;
}

@media (min-width: 780px) {

.intro-container, .about-container  {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /* height: 85vh; */
    /* margin: 90px; */
    }
}

