/* reset styles */

html {
    /* margin: 0; */
    /* padding: 0; */
    background-color: #E5EDFC;
    color: cornflowerblue;
    max-width: 1000px;
}

body {
    height: 100%;
    position: relative;
    
    
}

* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    

} 



.arrow {
    text-align: center;
    display:block;
    margin:auto;
    transform: translateY(8px);
    margin-bottom: 20px;
}

.even {
    transform: translateX(-300px) rotate(-22deg);
}

.odd {
    transform: translateX(300px) rotate(22deg);
}

/* hamburger menu styles */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.first {
    background-image: url("images/IMG_7664.jpeg");
    background-size:100% auto;
    overflow:hidden;
    background-repeat:no-repeat;
    width: 400px;
    height: 325px;
   

    
    
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: cornflowerblue;
    font-family: 'Open Sans', sans-serif;
}
.nav-link:hover {
    color:cadetblue;
}
.bar {
    display: block;
    width: 33px;
    height: 5px;
     margin: 7px; 
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;  
    background-color: white;
}


.navbar {
    height: 3rem;
}


.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}   


.hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 6.25rem;
    bottom: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: right;
    transition: 0.1  s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    padding-right: 50px;
    z-index:100;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2rem 0;
    z-index: 101;
}

.hamburger {
    display: block;
    cursor: pointer;
    position: fixed;
    top:20px;
    right:20px;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: 1px solid#E5EDFC;
    z-index: 1000;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    
}


.container {
    margin-bottom: 200px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center; 
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: cornflowerblue;
    width: 100%;
    padding-top: 50px;
    border-radius: 12px;
    color: white;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.projects, .about, .arrow, footer {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-align: center;
}




header {
    height: 100%;
    padding-top: 100px;
}

.intro {
    background-color: white;
    color: cornflowerblue;
    text-shadow: 2px 4px 3px rgba(0,0,0,.1);
    margin-bottom: 400px;
    
}

 .photo {
/*     
    width: 300px;
    height: 250px; */
    /* border: 2px solid white; */
    margin-top: 30px;
    border-radius: 10px;
    display: block;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
   
} 

main {
    position: relative;
    height: 100%;
}

.test {
    width: 400px;
    height: 300px;
    border: 2px solid white;
    margin-top: 30px;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background-image: url("images/anxiiety-desktop.png")
}

.t-l {
    order: 1;
}
.t-r {
    order:2
}
.b-l {
    order:3;
}
.b-r {
    order:4;
}


 .hello {
    position: relative;
    width: 45%; 
    text-align: left;
    max-width: 450px;    
    min-width: 325px;
    display: block;
} 

.r {
    text-align: right;
}

h1 {
    font-size: 4rem;
    white-space: nowrap;

}

.noto {
    font-family: 'Noto Serif Display', serif;
}
h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    
}

.underline {
    text-decoration: underline dotted;
}
h3 {
    font-size: 1rem;
    display:block;
    /* margin-top: 25px; */
}
footer {
    background-color: cornflowerblue;
    width: 100%;
    padding-top: 50px;
    border-radius: 12px;
    padding-bottom: 15px;
}

/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  color: white;
  border: none;
  border-radius: 0;
  display: block;
  width: 90%;
  
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
    
 
}
form input,
textarea {
    color:cornflowerblue;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-left: auto;
  margin-right: auto;
}

/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  resize: none;
  /* margin: 0; */
 
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: white;
  outline-offset: -1px;
  color:cornflowerblue;
}
/* form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
} */
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}


.submit {
    color: cornflowerblue;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    border-radius: 3px;
    /* height: 75px; */
}


.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 70px; }

@media (min-width: 780px) {

 .container  {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    
    }


   
} 

@media (max-width: 780px) {
    html {
        max-width: 500px;
    }
    .container, footer {
        width:450px;
        margin: auto;
        margin-bottom: 25px;
    }

    .arrow {
        display: none;
    }
}

@media (max-width: 500x) {
    .container, footer {
        width: 360px;
        background-color: black;
      
    }
}