/* reset styles */

html {

    background-color: rgba(100, 149, 237, 0.2);
    /* background-color: rgba(181, 245, 181, 0.1); */
    color: cornflowerblue;
    max-width: 1000px;
    overflow-x: hidden;
}

body {
    height: 100%;
    position: relative;
    
    
}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    

} 

form {
    float: right;
    max-width: 600px;
}
.even {
    transform: translateX(-300px) rotate(-22deg);
}

.odd {
    transform: translateX(300px) rotate(22deg);
}

/* hamburger menu styles */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: cornflowerblue;
    font-family: 'Open Sans', sans-serif;
}
.nav-link:hover {
    color:cadetblue;
}
.bar {
    display: block;
    width: 33px;
    height: 5px;
     margin: 7px; 
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;  
    background-color: white;
}


.navbar {
    height: 3rem;
}


.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}   


.hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 6.25rem;
    bottom: 20rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: right;
    transition: 0.1  s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    padding-right: 50px;
    z-index:100;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2rem 0;
    z-index: 101;
}

.hamburger {
    display: block;
    cursor: pointer;
    position: fixed;
    top:20px;
    right:20px;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: 1px solid#E5EDFC;
    z-index: 1000;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    
}
 .container, footer  {
    padding-bottom: 50px; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center; 
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    /* padding-top: 50px; */
    background-color: rgba(100, 149, 237, 0.3);
}



.container {
    margin-bottom: 200px;
}

.projects {
    /* margin-bottom: 200px; */
    /* padding-bottom: 50px;  */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center; 
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    /* padding-top: 50px; */
    height: 100%;
}

.projects, .about, footer {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
    text-align: center;
}

.project-heading {
    text-align: center;
    margin: 0;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
    text-transform: underline;
}

.middle-photo {
    height: fit-content;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url("images/titusblair-on-unsplash.jpg");
    color: white;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    position: relative;
    box-shadow:inset 0 0 0 2000px rgba(100, 149, 237, 0.35);
    padding-bottom: 50px;

}


header {
    padding-top: 100px;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/IMG_7664.jpeg");
    
        
}

main {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/tony-L-on-unsplash.jpg");
    color: white;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    position: relative;
    height: 100%;
    
}
.intro {
    text-shadow: 2px 4px 3px rgba(0,0,0,.1);
    margin-bottom: 400px;
    background-color: rgba(100, 149, 237, 0.3);
    color: white;
    
}

 .photo {
   
    width: 300px;
    height: 250px; 
    /* border: 2px solid white; */
    margin-top: 30px;
    border-radius: 10px;
    display: block;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 50%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background-color: rgba(100, 149, 237, 0.3);
    overflow:hidden;
    /* background-color: cornflowerblue; */
   
} 



.test {
    width: 400px;
    height: 300px;
    /* border: 2px solid white; */
    margin-top: 30px;
    border-radius: 10px;
    /* display: inline-block; */
    /* margin: 40px; */
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 80%);
    margin: 40px;
    
}




.t-l, .b-r {
    order:2;
    background: url("images/anxiiety-desktop.png") no-repeat center;
    background-size: cover;
}


.b-l {
    order:3;
}
.b-r {
    order:4;
}
.t-r, .b-l {
    order: 1;
    background: url("images/ChameleonConditions.png") no-repeat center;
    background-size: cover;
    
}
i {
    font-size: 4.5rem;
}
.overlayDiv {
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius:inherit;
    position: relative;
}
.technologies {
    padding-top: 30px;
    
}
.technologies li {
   position: relative;
   display: inline;
   /* padding: 5px; */
   line-height: 3rem;
}
.overlayDiv.active {
  opacity:1;
  background-color: rgba(0, 0, 0, 0.8 );
}

a {
    text-decoration: none;
    color: cornflowerblue;
    display: inline-block;
}
 .hello {
    position: relative;
    /* width: 50%;  */
    text-align: left;
    max-width: 600px;    
    /* min-width: 275px; */
    display: block;
    
} 

.r {
    text-align: right;
}

h1 {
    font-size: 8vh;

}

.noto {
    font-family: 'Noto Serif Display', serif;
}
h2 {
    font-size: 2rem;
    margin-bottom: 30px; 
    white-space: nowrap;
}

.tight {
    max-width: 500px;
}
h3 {
    font-size: 1rem;
    display:block;
    line-height: 1.75rem;
}

form label {
    visibility: hidden;
}

#fs-frm {
    width:90vw;
}
/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  color: white;
  border: none;
  border-radius: 0;
  display: block;
  width: 90%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
}
form input,
textarea {
    color:cornflowerblue;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-left: auto;
  margin-right: auto;
}

/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  resize: none;
  /* margin: 0; */
 
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: white;
  outline-offset: -1px;
  color:cornflowerblue;
}
/* form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
} */
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}

#bottom {
    background-color:rgba(100, 149, 237, 0.5);
}

#tech {
    padding-top: 20px;
}

.submit {
    color: cornflowerblue;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    border-radius: 3px;
    /* height: 75px; */
}

h3 {
    white-space: normal;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 70px; }

.contact {
    padding-left: 30px;
}
@media (max-width: 780px) {

 footer, .container  {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    }
    .hello {
        padding-left: 10px;
    }
    .r {
        padding-right: 10px;
    }

    html {
        width: 100vw;
        margin:0;
        /* padding-left: 20px; */
    }
    .intro {
        width: 100%;
    }

    h2, div  {
        white-space: normal;
    }

    #tech {
        padding-top: 50px;
    }
    
} 

@media (max-width: 500px) {
    .test {
        width: 300px;
        height: 300px;
    }
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}