/* reset styles */

html {
    margin: 0;
    padding: 0;
    background-color: #E5EDFC;
    color: cornflowerblue;
}

body {
    height: 100%;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.cinzel {
    font-family: "Cinzel";
}




/* hamburger menu styles */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.bar {
    display: block;
    width: 33px;
    height: 5px;
    margin: 7px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.navbar {
    height: 4rem;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 5.25rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: right;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    padding-right: 50px;
    z-index:100;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2rem 0;
    z-index: 101;
}

.hamburger {
    display: block;
    cursor: pointer;
    position: fixed;
    top:20px;
    right:20px;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: 2px white solid;
    
}

.logo {
    font-size: 5rem;
    font-weight: 500;
    position: fixed;
    /* top:0; */
    /* left:0; */
    z-index: 20;
    /* box-shadow: 2px 2px grey; */
    padding-left: 15px;
    color:cornflowerblue;
    
}

.about-container {
    padding-top: 70px;
    height: 100vh !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    
}

 .photo {
    
    width: 300px;
    height: 250px;
    border: 2px solid cornflowerblue;
    margin-top: 30px;
    border-radius: 10px;
    display: block;
    
} 



/* .photo {
    width: 150px;
    height:150px;
    border-radius: 50%;
    border: 2px solid black;
    justify-content: space-around;
    align-content: center;
    justify-self:space-around;
    align-self:space-around;
    margin-right: none;
    margin-left: auto;
    
} */

 .hello {
    position: relative;
    width: 45%; 
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    max-width: 450px;    
    min-width: 325px;
    display: block;
} 

h1 {
    font-size: 3.5rem;
   
}
h2 {
    font-size: 2rem;
    text-decoration: underline dotted;
    text-decoration-thickness: auto;
}
h3 {
    font-size: 1rem;
    margin-top: 25px;
}


@media (min-width: 780px) {

.about-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 85vh;
    padding: 9vw;
    }
}

